.wrapper {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    table, .header {
        width: 100%;
        max-width: 1200px;
        border: 1px solid gray;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
    }
}